@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #ffffff;
  --text: #15232f;

  --surface: #f9fafb;
  --surface-contrast: #e5e7eb;
  --surface-hover: #d1d5db;

  --subtext: #18181b;

  --accent: #646cff;
  --accent-hover: #535bf2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --bg: #181818;
  --text: #ffffff;

  --surface: #27272a;
  --surface-contrast: #3f3f46;
  --surface-hover: #52525b;

  --subtext: #cccccc;

  --accent: #646cff;
  --accent-hover: #818cf8;
}

html,
body,
#root {
  height: 100%;
  width: 100%;

  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg);
  color: var(--text);

  transition: background-color 0.5s ease, color 0.5s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
